.formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
}
.form {
  width: 60vw;
  height: auto;
  min-height: 50%;
  padding: 5vh 0;
  background-color: rgba(0, 128, 92, 0.324);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  border-radius: 10px;
}
.h3 {
  font-size: 3em;
  letter-spacing: 2px;
  color: rgb(0, 128, 92);
  margin-bottom: 1vh;
}
.label {
  font-size: 1.7em;
  letter-spacing: 0.7px;
  color: rgb(1, 56, 41);
}
.input {
  height: 5vh;
  width: 70%;
  border: transparent;
  border-radius: 2.5vh;
  padding-left: 0.5em;
  outline: none;
  color: rgb(0, 128, 92);
  font-size: 1.9em;
}
.btn {
  height: 5vh;
  width: 70%;
  border: transparent;
  border-radius: 2.5vh;
  margin-top: 5vh;
  background-color: rgb(87, 179, 153);
  color: #f7f7f7;
  color: rgb(1, 56, 41);
  font-size: 1.9em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  letter-spacing: 0.9px;
}
.btn:hover {
  background-color: rgba(87, 179, 153, 0.788);
  transition: 0.3s;
}
@media (max-width: 798px) {
  .form {
    width: 90%;
  }
}
